::selection { background: #F92659; color:white; }
::-moz-selection { background: #F92659; color:white; }
::-webkit-selection { background: #F92659; color:white;}
/* Styling for Nav bar. Bg color, link color etc */
/* img {
  background: url('./images/loading.gif') center center no-repeat;
} */
.container-fluid { padding: 0px; }

i { color: #c8ccd1; }
.article-metadata span { font-size: 12px; }

.nav > .active > a,
.nav > .active > a:hover {
    color: #F92659;
    background-color:#fff;
    font-weight: bold;
}


#blog-nav{
    width: 80%;
    padding: 5px 0;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}

ul#sitelinks.nav.nav-list > li > a >i { color: #1f334b; }
/* Styling for elements */
a { color: #0A5693; }
body { background-color: #EAF4FF; font: 16px/1.5 \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
.article-content { background: #FFF; padding: 0px 20px; }
p { font: 16px/1.5 \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; margin-top: 0.8em; margin-bottom: 0.8em; text-align: left; }
li { line-height: 1.6em; }
h3 { font: 20px/1.5 'Alegreya SC', 'Garamond', 'Georgia', \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
h2 { font: 24px/1.5 'Alegreya SC', 'Garamond', 'Georgia', \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
h1 { font: 28px/1.5 'Alegreya SC', 'Garamond', 'Georgia', \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
h1,h2,h3,h4,h5,h6 { color: #000001; margin-bottom: 0px; font-weight: bold;}
.table th, .table td { line-height: 1.3em; }

.brand {
  text-indent: -9999px;
  display: block;
  height: 80px;
  background: rgba(0, 0, 0, 0) url("./images/logo.svg") center 40px no-repeat;
  background-size: 90%;
}

.brand-wrapper {
  margin: 20px auto;
  width: 140px;
  height: 140px;
  border: 2px dashed #000;
  border-radius: 1000%;
}


/* Styling for articles */
.article { padding-bottom:15px; padding-right: 40px; }
.article a:hover { text-decoration: none; }

/* Read more button */
.btn-info.xsmall {
    padding: 1px 3px 1px;
    font-size: 11px;
    float: right;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

/* Article summary */
.summary { margin-bottom: 2em; margin-top: 0.8em; font-size: 16px; line-height: 1.2em }
.summary pre { display: none; }

#footer { background: #464C54; padding: 10px; color: #d6d9dd; }
#footer a { color: #b7d9ff; }
#footer a:hover { color: #51a4ff;}

.nav a [class^="icon-"], .nav a [class*=" icon-"] {
  display: inline-block;
  width: 2em;
}

@media(max-width: 768px){
  #socialist { display: table-footer-group;}
  #colophon { display: table-header-group;}
  #sitelinks { display: table-footer-group;}
}

.tag-cloud { margin: 30px 0px;}
.tag-cloud p { margin: 0px; }
.tag-0 { font-size: 8px; }
.tag-1 { font-size: 12px; }
.tag-2 { font-size: 16px; }
.tag-3 { font-size: 20px; }
.tag-4 { font-size: 24px; }