::selection { background: #F92659; color:white; }
::-moz-selection { background: #F92659; color:white; }
::-webkit-selection { background: #F92659; color:white;}
/* Styling for Nav bar. Bg color, link color etc */
/* img {
  background: url('./images/loading.gif') center center no-repeat;
} */
.container-fluid { padding: 0px; }

hr {
  margin: 5px 0;
  border-top: 1px solid #333;
  border-bottom: 1px solid #222;
}

i { color: #C9C9C9; }
.article-metadata { font-size: 12px; }

.nav>li>a:hover {
  display: block;
  color: #FD961F;
  background-color: #333;
}

.nav > .active > a,
.nav > .active > a:hover {
  color: #FD961F;
  background-color: #333;
  font-weight: bold;
}

.pagination ul>li>a, .pagination ul>li>span {
  background-color: #222;
  border: 1px solid #DDD;
}

#blog-nav{
  width: 80%;
  padding: 5px 0;
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
}

ul#sitelinks.nav.nav-list > li > a >i { color: #1f334b; }
/* Styling for elements */
a { color: #E6DB74; }
body { background-color: #222; color: #F8F8F2; font: 16px/1.5 \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
.main-content { background: #383838; padding: 0px 20px; }
.main-content a:hover { color: #FD961F; text-decoration: none; }
.main-content li { color: #268BD2; }
p { font: 14px/1.5 \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; margin-top: 0.8em; margin-bottom: 0.8em; text-align: left; }
li { line-height: 1.6em; }
h1 { font: 18px/1.5 'Alegreya SC', 'Garamond', 'Georgia', \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
h2 { font: 16px/1.5 'Alegreya SC', 'Garamond', 'Georgia', \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
h3 { font: 14px/1.5 'Alegreya SC', 'Garamond', 'Georgia', \5fae\8f6f\96c5\9ed1,tahoma,arial,\5b8b\4f53; }
h1,h2,h3,h4,h5,h6 { color: #F8266F; margin-bottom: 0px; }
.table th, .table td { line-height: 1.3em; }

.brand {
  text-indent: -9999px;
  display: block;
  height: 80px;
  background: rgba(0, 0, 0, 0) url("./images/logo_white.svg") center 40px no-repeat;
  background-size: 130px;
}

.brand-wrapper {
  margin: 20px auto;
  width: 140px;
  height: 140px;
  border: 2px dashed #FFF;
  border-radius: 100%;
}


/* Styling for articles */
.article { padding-bottom:15px; padding-right: 40px; }
.article a:hover { color: #FD961F; text-decoration: none; }

blockquote {
  color: #268BD2;
  border-left: 5px solid #268BD2;
}

code {
  color: #91C72C;
  font-weight: bold;
  background-color: #222;
  border: 1px solid #E1E1E8;
}

/* Read more button */
.btn-info.xsmall {
  padding: 1px 3px 1px;
  font-size: 11px;
  float: right;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* Article summary */
.summary { margin-bottom: 2em; margin-top: 0.8em; font-size: 16px; line-height: 1.2em }
.summary pre { display: none; }

#footer { background: #4C4C4C; padding: 10px; color: #d6d9dd; }
#footer a { color: #51D9EF; }
#footer a:hover { color: #51a4ff;}

.nav a [class^="icon-"], .nav a [class*=" icon-"] {
  display: inline-block;
  width: 2em;
}

.xsmall { margin: 10px 0; }

@media(max-width: 768px){
  #socialist { display: table-footer-group;}
  #colophon { display: table-header-group;}
  #sitelinks { display: table-footer-group;}
}

.tag-cloud { margin: 30px 0px;}
.tag-cloud p { margin: 0px; }
.tag-0 { font-size: 8px; }
.tag-1 { font-size: 12px; }
.tag-2 { font-size: 16px; }
.tag-3 { font-size: 20px; }
.tag-4 { font-size: 24px; }