{% extends "base.html" %}
{% block windowtitle %}{{ article.title }} - {{ SITENAME }}{% endblock %}
{% block content %}
<div class='article'>
  <article class="span12">
    <h1>{{ article.title }}</h1>
    {% include "article_info.html" %}
    {{ article.content }}
    <hr />
  </article>
  <div class="span12 comment">
      {% include 'jiathis.html' %}
      <!-- <h3>Comments</h3> -->
      <!-- {% include 'disqus.html' %} -->
      {% include 'uyan.html' %}
      {% include 'ujian.html' %}
  </div>
</div>
{% endblock %}